.modal-layer {
    /* display: none; */
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 99;
}

.sign-in--modal {
    width: 380px;
    height: 410px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: var(--white-color);
}

.modal__header {
    height: 110px;
}

.modal__body {
    height: 300px;
    background-color: aqua;
}

.modal__content {
    height: 100%;
}

.modal--heading {
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 4rem;
    color: var(--black-color);
}

.modal--subheading {
    margin-top: 5px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--text-color);
}

.modal__close--btn {
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    color: var(--text-color);
}

.modal__close--btn > i {
    font-size: 1.2rem;
    display: block;
    width: 10px;
    height: 10px;
}