
/* >= Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .container__knowledge-img {
        width: 200px;
        right: calc((100vw - 644px) / 2);
    }

    .container__knowledge-img > img {
        width: 220px;
        height: 190px;
    }

    @keyframes upAndDown {
        0% {
            top: 10px;
        }
    
        100% {
            top: 15px;
        }
    }
}


/* Mobile */
@media (max-width: 739px) {

}