
/* >= Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    #container {
        overflow: hidden;
    }

    .slider__background {
        width: auto;
        height: 370px;
    }

    .container__content {
        position: absolute;
        width: 400px;
        margin-top: 40px;
        left: calc((100vw - 644px) / 4);
    }

    .container__content--subheading {
        font-size: 1.8rem;
        line-height: 2.2rem;
        letter-spacing: .6px;
    }

    .container__content--heading {
        font-size: 5.5rem;
        letter-spacing: 1.5px;
        margin: 20px 0 25px 0;
    }

    .container__knowledge-img {
        width: auto;
        right: calc((100vw - 644px) / 4);
    }

    .container__knowledge-img > img {
        width: 300px;
        height: 230px;
    }

    .container__btn--start {
        width: 180px;
        height: 50px;
        font-size: 2.6rem;
        line-height: 5rem;
    }

    @keyframes upAndDown {
        0% {
            top: 35px;
        }
    
        100% {
            top: 40px;
        }
    }

    .feature__wrap {
        width: var(--feature-wrap-tablet-width);
        height: 320px;
        right: calc((100% - var(--feature-wrap-tablet-width)) / 2);
        top: 320px;
    }
    
    .feature {
        /* margin: 0 20px; */
        width: 220px;

    }

    .feature__img {
        max-height: 170px;
    }

    .feature__content--heading {
        font-size: 1.7rem;
        margin: 5px 0 10px 0;
    }

    .feature__content--description {
        font-size: 1.5rem;
    }

    #footer {
        margin-top: 10px;
        height: 290px;
    }

    .footer__content { 
        margin: 40px 0 30px 0;
    }

    .footer__content--heading {
        font-size: 1.3rem;
    }

    .footer__content--list {
        font-size: 1.2rem;
    }

    .copywriter {
        font-size: 1.1rem;
    }
}


/* Mobile */
@media (max-width: 739px) {

}