#main-layout {
   width: 100vw;
   height: 100vh;
   background-color: var(--backgound-color);
}

.layout--body {
   padding: 15px 15px 15px 0;
   height: 100%;
   justify-content: space-around;
   display: grid;
   grid-template-columns: 12% 88%;
}

#left-menu {
   height: 100%;
   flex-direction: column;
   justify-content: flex-start;
   margin: 0 15px;
   border-radius: 20px;
}

.left-menu__logo {
   height: 95px;
   width: 100%;
   border-bottom: solid 1px var(--white-color);
}

.left-menu__logo > img {
   width: 100%;
}

.menu-list {
   width: 100%;
   height: auto;
   justify-content: space-evenly;
}

.menu-list h1 {
   color: #eeeeee;
   font-size: 1.3rem;
   margin: 0 0 15px 0;
}

.menu-list ul {
   display: flex;
   padding: 20px 0;
   width: 100%;
   /* border-top: solid 1px var(--white-color); */
   flex-direction: column;
   justify-content: flex-start;
}

.menu-item {
   height: 25px;
   width: 100%;
   margin: 5px 0;
   justify-content: flex-start;
   padding-left: 12px;
   transition: all 0.2s linear;
}

.menu-item.active {
   border-right: solid 3px var(--white-color);
}

.menu-item:hover,
.themes > .menu-icon:hover,
.active {
   cursor: pointer;
   border-right: solid 3px var(--white-color);
}

.menu-item > img {
   height: 20px;
}

.menu-icon {
   display: block;
   width: 35px;
   font-size: 1.4rem;
   color: var(--white-color);
}

.menu-item__name {
   color: var(--white-color);
   font-size: 1.3rem;
}

.themes {
   width: 100%;
   bottom: 20px;
}

.themes > .menu-icon {
   opacity: 0.5;
   font-size: 4rem;
   cursor: pointer;
   color: var(--white-color);
   transition: all 0.2s linear;
}

#dashboard-container {
   height: 100%;
   width: 1005;
   max-height: 700px;
   background-color: #d5d5d5;
   border-radius: 30px;
   overflow: hidden;
}

.top-bar {
   width: 100%;
   background-color: var(--white-color);
}

.header {
   padding: 0 50px;
   height: 65px;
   justify-content: space-between;
}

.header::after {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 2px;
   background-color: #d5d5d5;
}

.navigation {
   height: 30px;
}

.nav__item {
   padding: 0 12px;
}

.nav__item:hover {
   cursor: pointer;
   transition: all 0.2s linear;
   opacity: 0.7;
}

.nav__item > img {
   max-width: 30px;
}

.nav__icon {
   font-size: 2rem;
   color: var(--text-color);
}

.information {
   height: 30px;
   display: flex;
   justify-content: flex-start;
   margin: 0 50px;
   border-bottom: solid 1px #d5d5d5;
}

.inf-children {
   height: 100%;
   width: 25%;
   font-size: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.return {
   cursor: pointer;
}

.content {
   position: relative;
   height: 100%;
   max-height: calc(100% - 95px);
   padding: 0 25px 25px 25px;
}
