#left-menu {
   height: 100%;
   flex-direction: column;
   justify-content: flex-start;
   margin: 0 10px 0 15px;
   border-radius: 20px;
}

.left-menu__logo {
   height: 95px;
   width: 100%;
}

.left-menu__logo > img {
   width: 100%;
}

.logo-menu-pc {
   aspect-ratio: 3/1;
}

.logo-menu-tablet {
   display: none;
}

.menu-list {
   width: 100%;
   height: auto;
   justify-content: space-evenly;
   margin-top: 10px;
}

.menu-list h1 {
   color: #eeeeee;
   font-size: 1.4rem;
   margin: 0 0 15px 0;
}

.menu-list ul {
   display: flex;
   padding: 20px 0 20px 10px;
   width: 100%;
   flex-direction: column;
   justify-content: flex-start;
}

.menu-item {
   height: 15px;
   width: 100%;
   margin: 10px 0;
   justify-content: flex-start;
   padding-left: 10px;
   transition: all 0.2s linear;
}

.menu-item.active {
   border-right: solid 3px var(--white-color);
}

.menu-item:hover,
.themes > .menu-icon:hover,
.active {
   cursor: pointer;
   border-right: solid 3px var(--white-color);
}

.menu-item > img {
   height: 20px;
}

.menu-icon {
   display: block;
   width: 35px;
   font-size: 1.5rem;
   color: var(--white-color);
}

.menu-item__name {
   color: var(--white-color);
   font-size: 1.4rem;
}

.themes {
   width: 100%;
   bottom: 20px;
}

.themes > .menu-icon {
   opacity: 0.5;
   font-size: 4rem;
   cursor: pointer;
   color: var(--white-color);
   transition: all 0.2s linear;
}

@media (min-width: 1239px) and (max-width: 1360px) {
   .menu-icon {
      width: 25px;
   }
}

/* PC medium resolution > */
@media (min-width: 1030px) and (max-width: 1239px) {
   .menu-item {
      padding: 0;
   }

   .menu-icon {
      width: 25px;
   }
}

/* >= Tablet */
@media (max-width: 1029px) {
   .layout--body {
      grid-template-columns: 10% 90%;
   }

   #left-menu {
      margin: 0px 30px 0 25px;
   }

   .logo-menu-pc {
      display: none;
   }

   .logo-menu-tablet {
      display: block;
   }

   .menu-item__name {
      display: none;
   }

   .menu-list h1 {
      display: none;
   }

   .menu-list > ul {
      padding: 15px 0;
      border-top: solid 0.5px #d5d5d5;
   }

   .menu-item {
      height: 40px;
      margin: 4px 0;
      justify-content: center;
      padding: 0;
   }

   .menu-item:hover {
      border: none;
   }

   .menu-item.active {
      border: none;
   }

   .menu-item:hover > .menu-icon,
   .active > .menu-icon {
      cursor: pointer;
      background-color: #eeeeee;
      border: none;
      color: var(--background-color);
   }

   .menu-icon {
      height: 45px;
      width: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.8rem;
      border-radius: 10px;
      transition: all 0.3s ease;
   }
}

/* Mobile */

@media (min-width: 500px) and (max-width: 650px) {
   #left-menu {
      margin: 0px 15px;
   }
}

@media (max-width: 500px) {
   #left-menu {
      margin: 0px 10px;
   }
}

@media (max-width: 740px) {
   .menu-item {
      margin: 0;
   }
   .menu-icon {
      height: 35px;
      width: 35px;
      font-size: 1.6rem;
   }
}
