.view-class{
    width: 100px;
    height: 20px;
    background-color: #2B99FF;
    border: none;
    border-radius: 2px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 13px;
}

/* empty */
.empty{
    color: #999;
    font-size: 32px;
    height: 430px;
    font-weight: 500;
}

.empty-space{
    height: 43px;
}

/* student page */
.inf-btn{
    width: 100px;
    height: 20px;
    border: none;
    border-radius: 2px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 13px;
}

.take-test{
    background-color: var(--highlight-color);
}

.see-score{
    background-color: var(--primary-color);
}

/* test */

.content-table{
    height: calc(100% - var(--search-bar-pc-height));
    width: 100%;
    display: flex;
}

.question-list{
    width: 65%;
    height: 100%;
    overflow-y: auto;
}

.question-item{
    margin-left: 3%;
    margin-bottom: 25px;
    width: 95%;
    font-size: 15px;
    font-weight: 600;
}

.question-item-content{
    background-color: #161F80;
    height: auto;
    color: #fff;
    padding: 7px 0 7px 20px;
    border-radius: 5px 5px 0 0;
}

.question-item-suggest{
    height: auto;
    background-color: #fff;
    padding: 5px 0 5px 20px;
    display: block;
}

.ABCD{
    width: 100%;
    height: auto;
    display: flex;
}

.ABCD-children {
    height: auto;
    line-height: 20px;

}

.radio {
    padding-top: 4px;
    width: 5%;
    height: 30px;
}

.content-suggest {
    width: 95%;
    padding: 4px 10px 6.5px 3px;
}

.answer-list{
    width: 30%;
    height: 480px;
    background: #fff;
    margin-left: 5%;
}

.answer-header {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 600;
    height: 60px;
}

.answer-grid {
    padding: 0 1rem;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5,2fr);
}
.answer-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    margin: 0 0 0 5px;
    padding-top: 3px;
    height: 30px;
    font-family: sans-serif;
}

.answer-item span {
    margin-right: 2px;
}

.time-test {
    height: 60px;
    font-size: 13px;
    font-weight: 600;
}

.test-submit {
    height: 60px;
    border-top: 1px solid black;
}

.test-submit-btn {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: var(--white-color);
    background-color: var(--primary-color);
}