.view-class {
   width: 100px;
   height: 20px;
   background-color: #2b99ff;
   border: none;
   border-radius: 2px;
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
   color: #fff;
   font-size: 13px;
}

a {
   text-decoration: none;
}

/* join class */
.joinclass-container {
   background-color: var(--white-color);
   border-radius: 5px;
}

.find-class {
   width: 100%;
   max-width: 500px;
   height: 145px;
}

.joinclass-search {
   padding: 25px 35px;
   font-size: 1.4rem;
   font-weight: 500;
   display: flex;
   justify-content: space-between;
   color: #444;
}

.joinclass-search > label {
   width: 100px;
}

.joinclass-container-child {
   width: 100%;
}

.joinclass-input {
   flex: 1;
   height: 30px;
   background-color: #f0f0f0;
   border: solid 1px #d5d5d5;
   border-radius: 5px;
}

.joinclass-button {
   width: 120px !important;
   height: 35px !important;
   background-color: #fff;
   font-size: 1.5rem;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 0.5px;
   color: #161f80;
   border: solid 2px #161f80;
   border-radius: 15px;
   cursor: pointer;
   box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
   transition: all 0.2s linear;
}

.joinclass-button:hover {
   background-color: #161f80;
   color: #fff;
}

.joinclass-back {
   color: #bfbfbf;
   font-size: 12px;
   font-weight: 500;
   padding-left: 10px;
   padding-top: 5px;
   height: 20px;
}

.joinclass-undefine {
   width: 100%;
   height: 85%;
   font-size: 16px;
   font-weight: 500;
   color: #888;
   padding-top: 35px;
}

.enter-class {
   padding: 10px;
   width: 550px;
   height: 330px;
}

.enter-class-child {
   width: 100%;
   line-height: 45px;
   display: flex;
   font-size: 16px;
   font-weight: 500;
}

.enter-class-child-title {
   width: 50%;
   padding-left: 10%;
   color: #111;
}

.enter-class-child-content {
   width: 50%;
   color: #555;
}

.enter-password {
   width: 80%;
   color: #888;
   background-color: #f0f0f0;
   border-radius: 4px;
   height: 30px;
}

.joinclass-enter-btn {
   height: 55px;
}

/* empty */
.empty {
   color: #999;
   font-size: 32px;
   height: 430px;
   font-weight: 500;
}

.empty-space {
   height: 40px;
}

/* student page */

.table__header {
   position: relative;
}

.filter-box {
   position: absolute;
   top: 40%;
   right: 3%;
   border: none;
   /* background-color: transparent; */
   color: #888;
   font-weight: 500;
}

.custom-select {
   width: 150px;
   font-size: 15px;
   padding: 0.6rem 0;
   text-align: center;
   cursor: pointer;
}

.selected-option {
   width: 100%;
   display: inline-block;
   border-radius: 4px;
   padding: 0.5rem;
}

.custom-select:hover .selected-option {
   box-shadow: inset 0px 0px 0px 1px #888;
}

/* .custom-select:hover .custom-select__option-list{
    display: flex;
} */

.custom-select__option-list {
   display: flex;
   margin-top: 1.2rem;
   justify-content: center;
   flex-direction: column;
   background-color: #fff;
   border-radius: 5px;
   box-shadow: inset 0px 0px 2px 1px #888;
   transition: transform 1s, opacity 1s;
   overflow: hidden;
}

.option {
   padding: 0.5rem 0;
   flex: 0 0 33.333334%;
   /* height: 30px; */
   height: 100%;
   display: block;
   transition: all 0.07s linear;
}
.option:hover {
   border-radius: 4px;
   /* background-color: black: {
          100: "#d0d2e6",
          200: "#a2a5cc",
          300: "#7379b3",
          400: "#454c99",
          500: "#161f80",
          600: "#121966",
          700: "#0d134d",
          800: "#090c33",
          900: "#04061a"
},; */
   box-shadow: inset 0 0 0 2px #161f80;
   color: #161f80;
}

.option.selected {
   border-radius: 4px;
   background-color: #161f80;
   color: #f5f5f7;
}

.option:hover option {
   font-weight: 600;
}

.inf-btn {
   width: 100px;
   height: 20px;
   border: none;
   border-radius: 2px;
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
   color: #fff;
   font-size: 13px;
}

.take-test {
   background-color: var(--highlight-color);
}

.see-score {
   background-color: var(--primary-color);
}

/* test */
.content-table {
   height: calc(100% - var(--search-bar-pc-height));
   width: 100%;
   display: flex;
}

.question-list {
   width: 65%;
   height: 100%;
   overflow-y: auto;
}

.question-item {
   margin-left: 3%;
   margin-bottom: 25px;
   width: 95%;
   font-size: 15px;
   font-weight: 600;
}

.question-item-content {
   background-color: #161f80;
   height: auto;
   color: #fff;
   padding: 7px 0 7px 20px;
   border-radius: 5px 5px 0 0;
}

.question-item-suggest {
   height: auto;
   background-color: #fff;
   padding: 0.5rem 2rem;
   display: block;
}

.ABCD {
   width: 100%;
   height: auto;
   display: flex;
}

.ABCD-children {
   height: auto;
   line-height: 20px;
}

.ABCD-radio {
   margin-top: -1px;
}

.ABCD-radio.chose {
   position: relative;
}

.ABCD-radio.chose::before {
   font-family: "FontAwesome";
   content: "\f192";
   display: block;
   position: absolute;
   color: #161f80;
   background-color: #fff;
   border-radius: 50%;
   box-shadow: 0px 0px 0px 1px #f5f5f7;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 1.4rem;
}

.radio {
   padding-top: 4px;
   width: 5%;
   height: 30px;
}

.content-suggest {
   width: 95%;
   padding: 4px 10px 6.5px 3px;
}

.answer-list {
   width: 30%;
   height: 480px;
   background: #fff;
   margin-left: 3%;
}

.answer-header {
   color: var(--text-color);
   font-size: 20px;
   font-weight: 600;
   height: 60px;
}

.answer-grid {
   padding: 0 1rem;
   height: 300px;
   display: grid;
   align-content: space-evenly;
   grid-template-columns: repeat(5, 2fr);
}
.answer-item {
   display: flex;
   justify-content: space-around;
   align-items: center;
   font-size: 13px;
   font-weight: 500;
   margin: 0 0 0 5px;
   padding-top: 3px;
   height: 30px;
   font-family: sans-serif;
}

.answer-item span {
   margin-right: 2px;
}

.time-test {
   height: 60px;
   font-size: 13px;
   font-weight: 600;
}

.test-submit {
   height: 60px;
   border-top: 1px solid black;
}

.test-submit-btn {
   width: 150px !important;
   height: 30px !important;
   border: none;
   border-radius: 5px;
   color: var(--white-color);
   background-color: var(--primary-color);

   cursor: pointer;
}

.to-submit {
   background-color: var(--primary-color);
}

.submitted {
   background-color: #1f2ec9e5;
}

.modal {
   top: 0;
   left: 0;
   position: fixed;
   z-index: 1;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.3);
}

.hidden {
   display: none;
}

.main-form {
   width: 300px;
   height: 150px;
   background-color: #fff;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
   border-radius: 10px;
}

.header-form {
   height: 30px;
   display: flex;
   justify-content: flex-end;
}

#close {
   height: 25px;
   width: 25px;
   padding-right: 5px;
   font-size: 22px;
   font-weight: 600;
   color: #888;
   cursor: pointer;
}

.content-form {
   height: 70px;
   font-size: 14px;
   font-weight: 400;
   color: #222;
   text-align: center;
}

.footer-form {
   height: 50px;
   padding-top: 4px;
   display: flex;
   justify-content: space-evenly;
}

.form-btn {
   width: 120px !important;
   height: 30px !important;
   font-size: 14px;
   font-weight: 400px;
   color: #fff;
   border: none;
   border-radius: 5px;
}

.confirm-btn {
   background-color: var(--primary-color);
   cursor: pointer;
}

.cancel-btn {
   background-color: #888;
   cursor: pointer;
}

/* result */
.back {
   cursor: default;
   font-size: 14;
   font-weight: 500;
   color: #555;
}

.result-container {
   width: 600px;
   height: 350px;
   background: #ffffff;
   box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.1);
   border-radius: 5px;
}

.result-header {
   width: 600px;
   height: 110px;
   border-bottom: 2px solid #d9d9d9;
   padding-top: 10px;
}

.title {
   height: 50px;
   font-size: 24px;
   font-weight: 600;
   font-style: normal;
   color: #333;
}

.score {
   height: 40px;
   display: flex;
}

.score1 {
   font-size: 15px;
   font-weight: 600;
   color: #333;
   margin-right: 5px;
   margin-top: 6px;
}

.score2 {
   font-size: 25px;
   font-weight: 600;
   color: #222;
}

.result-subject {
   height: 30px;
   width: 100%;
   font-size: 13px;
   font-weight: 600;
   color: #333;
}

.result-content {
   height: 150px;
   display: block;
}

.result-content-child {
   display: flex;
   justify-content: space-between;
   width: 100%;
   height: 30px !important;
   padding: 0 3rem;
}

.result-content-child-title {
   font-size: 13px;
   font-weight: 500;
   color: #222;
   display: flex;
   gap: 1rem;
   align-items: center;
   justify-content: center;
}

.result-content-child-value {
   line-height: 30px;
   font-size: 13px;
   font-weight: 500;
   color: #222;
   display: flex;
   justify-content: flex-end;
}

.right {
   color: #44bf41;
}

.wrong {
   color: #ff0404;
}

.result-footer {
   height: 60px;
}

.see-detail-test {
   width: 250px !important;
   height: 35px !important;
   background: #2b99ff;
   border: none;
   border-radius: 5px;
   font-size: 14px;
   font-weight: 600;
   color: #fff;
}
