

#footer {
    height: 270px;
    width: 100%;
    margin-top: 80px;
    background-color: #161F80;
}

.footer__heading {
    position: relative;
    width: 100%;
    padding: 25px 0;
}

.footer__heading::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100vw;
    background-color: var(--white-color);
}

.footer__logo {
    color: var(--highlight-color);
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 900;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 2px;
}

.footer__slogan {
    color: var(--white-color);
    letter-spacing: 4px;
    margin-top: 10px;
}

.footer__content {
    height: auto;
    justify-content: space-around;
    margin: 30px 0 30px 0;
    text-align: center;
}

.footer__content--heading {
    color: var(--highlight-color);
    font-size: 1.4rem;
}

.footer__content--list {
    color: var(--white-color);
    font-size: 1.3rem;
    margin-top: 15px;
}

.footer__content--item {
    margin: 10px 0;
}

.copywriter {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    color: var(--white-color);
}
