@media (min-width: 1239px) and (max-width: 1360px) {

    .container__knowledge-img > img {
        width: 390px;
        height: 270px;
    }

    #container .grid.flex-center {
        top: 300px;
    }
    
    @keyframes upAndDown {
        0% {
            top: 15px;
        }

        100% {
            top: 20px;
        }
    }
}


/* PC medium resolution > */
@media (min-width: 1023px) and (max-width: 1239px) { 
    .slider__background {
        height: 300px;
    }

    .container__knowledge-img {
        right: calc((100vw - 984px) / 2);
    }

    .container__knowledge-img > img {
        width: 330px;
        height: 230px;
    }

    .container__content {
        max-width: 580px;
        margin-top: 40px;
    }

    .container__content--subheading {
        font-size: 1.8rem;
        line-height: 2.4rem;
    }

    .container__content--heading {
        font-size: 5.6rem;
    }

    .container__btn--start {
        width: 190px;
        height: 50px;
        font-size: 2.6rem;
        line-height: 5rem;
    }

    #container .grid.flex-center {
        top: 280px;
    }
    
    @keyframes upAndDown {
        0% {
            top: 25px;
        }

        100% {
            top: 30px;
        }
    }
}

/* >= Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    #container .grid.flex-center {
        position: absolute;
        left: 0;
        top: 320px;
        display: flex;
        width: 100vw;
    }

    .header__btn {
        width: 260px;
    }

    #container {
        overflow: hidden;
    }

    .slider__background {
        width: auto;
        height: 370px;
    }

    .container__content {
        position: absolute;
        padding-right: 20px;
        width: 50vw;
        margin-top: 40px;
        left: calc((100vw - 644px) / 4);
    }

    .container__content--subheading {
        font-size: 1.8rem;
        line-height: 2.2rem;
        letter-spacing: .6px;
    }

    .container__content--heading {
        font-size: 4.8rem;
        letter-spacing: 1.5px;
        margin: 20px 0 25px 0;
    }

    .container__knowledge-img {
        width: auto;
        right: calc((100vw - 644px) / 4);
    }

    .container__knowledge-img > img {
        width: 35vw;
        max-width: 290px;
        height: auto;
    }

    .container__btn--start {
        width: 180px;
        height: 50px;
        font-size: 2.6rem;
        line-height: 5rem;
    }

    @keyframes upAndDown {
        0% {
            top: 45px;
        }
    
        100% {
            top: 50px;
        }
    }

    .feature__wrap {
        width: var(--feature-wrap-tablet-width);
        max-width: 700px;
        min-width: 645px;
        height: 310px;
        
    }

    .feature__wrap > .col {
        height: 100%;
    }
    
    .feature {
        /* margin: 0 20px; */
        width: 100%;

    }

    .feature__img {
        max-height: 160px;
    }

    .feature__content--heading {
        font-size: 1.6rem;
        margin: 0 0 10px 0;
    }

    .feature__content--description {
        font-size: 1.45rem;
        padding: 0 12px;
    }

    #footer {
        margin-top: 10px;
    }

    .footer__content { 
        margin: 40px 0 30px 0;
    }

    .footer__content--heading {
        font-size: 1.3rem;
    }

    .footer__content--list {
        font-size: 1.2rem;
    }

    .copywriter {
        font-size: 1.1rem;
    }
}


/* Mobile */
@media (max-width: 739px) {

}