#header {
   position: fixed;
   top: 0;
   width: 100%;
   height: var(--header-pc-height);
   background-color: var(--white-color);
   box-shadow: 0px 30px 50px 5px rgba(0, 0, 0, 0.25);
   z-index: 99;
}

.header__wrap {
   max-width: 1200px;
}

#Home .header__logo {
   height: 100%;
   position: absolute;
   padding: 3px 0;
   left: 0;
}

.header__logo > img {
   max-height: 100%;
}

.header__btn {
   height: 100%;
   width: 280px;
   position: absolute;
   right: 0;
   justify-content: space-between;
}

.header__btn > button {
   width: 120px;
   height: 35px;
   background-color: var(--primary-color);
   color: var(--white-color);
   font-size: 1.7rem;
   border-radius: 5px;
   border: none;
   filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 1));
   -webkit-font-smoothing: subpixel-antialiased;
   animation: buttonNotHover 0.4s ease;
}

.header__btn > button:hover {
   cursor: pointer;
   animation: buttonHover 0.4s ease;
   filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
}

@media (min-width: 1239px) and (max-width: 1360px) {
   .container__knowledge-img > img {
      width: 390px;
      height: 270px;
   }

   #container .grid.flex-center {
      top: 300px;
   }

   @keyframes upAndDown {
      0% {
         top: 15px;
      }

      100% {
         top: 20px;
      }
   }
}

/* PC medium resolution > */
@media (min-width: 1023px) and (max-width: 1239px) {
   .slider__background {
      height: 300px;
   }

   .container__knowledge-img {
      right: calc((100vw - 984px) / 2);
   }

   .container__knowledge-img > img {
      width: 330px;
      height: 230px;
   }

   .container__content {
      max-width: 580px;
      margin-top: 40px;
   }

   .container__content--subheading {
      font-size: 1.8rem;
      line-height: 2.4rem;
   }

   .container__content--heading {
      font-size: 5.6rem;
   }

   .container__btn--start {
      width: 190px;
      height: 50px;
      font-size: 2.6rem;
      line-height: 5rem;
   }

   #container .grid.flex-center {
      top: 280px;
   }

   @keyframes upAndDown {
      0% {
         top: 25px;
      }

      100% {
         top: 30px;
      }
   }
}

/* >= Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
   .header__btn {
      width: 260px;
   }
}

/* Mobile */
@media (max-width: 739px) {
   #header {
      padding: 0 15px;
      box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
   }
   .header__logo > img {
      padding: 15px 0;
   }

   .header__btn {
      width: auto;
   }

   .header__btn > button {
      width: 90px;
      height: 30px;
      margin: 0 3px;
      font-size: 1.4rem;
   }
}
