:root {
   --modal-header-pc-height: 110px;
   --modal-sign-in-pc-height: 410px;
   --modal-sign-up-pc-height: 600px;
   --modal-footer-pc-height: 140px;
}

.modal-layer {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 99;
}

.typeAccount {
   top: 0;
   right: 0;
   left: 0;
   height: 100%;
   width: 100%;
   padding: 60px 15px 60px;
   background-color: var(--white-color);
}

.student,
.teacher {
   height: 100%;
   width: 50%;
   margin: 0 5px;
   border-radius: 5px;
   box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.3);
   background-color: var(--white-color);
   color: var(--sub-text-color);
   font-size: 2rem;
   letter-spacing: 0.3px;
   transition: all 0.3s linear;
   cursor: pointer;
}

.student:hover,
.teacher:hover {
   transform: scale(1.001);
   box-shadow: 3px 4px 5px 2px rgba(0, 0, 0, 0.2);
}

.student > i,
.teacher > i {
   font-size: 6rem;
   margin-bottom: 30px;
}

.student > i {
   color: #1dbfaf;
}

.teacher > i {
   color: burlywood;
}

.sign-in--modal {
   width: 380px;
   height: 410px;
   padding: 0 15px;
   overflow: hidden;
   border-radius: 10px;
   margin-bottom: 20px;
   background-color: var(--white-color);
}

.modal__header {
   height: var(--modal-header-pc-height);
   padding: 25px 0 20px 0;
}

.sign-in--modal .modal__body {
   padding-top: 10px;
   height: calc(
      410 - var(--modal-header-pc-height) - var(--modal-footer-pc-height)
   );
}

.modal__body {
   background-color: var(--white-color);
}

#student-sign-up,
#teacher-sign-up {
   width: 100%;
}

.modal__content {
   height: 100%;
   color: var(--black-color);
}

.modal--heading {
   font-weight: 400;
   font-size: 3.2rem;
   line-height: 4rem;
}

.modal--subheading {
   margin-top: 5px;
   font-weight: 500;
   font-size: 1.4rem;
   line-height: 1.8rem;
}

.sign-in--modal .modal__close--btn {
   top: 10px;
   right: 15px;
}

.tool-box {
   top: 10px;
   right: 0;
   left: 0;
   justify-content: space-between;
}

.modal__back--btn,
.modal__close--btn {
   cursor: pointer;
   color: #999;
}

.modal__back--btn:hover > span,
.modal__close--btn:hover > i {
   color: #777777;
}

.modal__back--btn > i {
   font-size: 2em;
   display: none;
}

.sign-in--modal .modal__footer {
   display: flex;
}

.modal__close--btn > i {
   font-size: 2.4rem;
   display: block;
   transition: all 0.1s linear;
}

.form-group {
   display: flex;
   width: 100%;
   margin-bottom: 15px;
   flex-direction: column;
}

.form-label,
.form-message {
   text-align: left;
}

.form-label {
   color: var(--text-color);
   font-weight: 500;
   padding-bottom: 5px;
   /* line-height: 1.2rem; */
   font-size: 1.25rem;
}

.forget-password {
   bottom: -20px;
   right: 0;
   font-size: 1.3rem;
   color: #666;
}

.form-control {
   height: 32px;
   padding: 5px 12px;
   border: 1px solid #b3b3b3;
   border-radius: 3px;
   outline: none;
   font-size: 1.4rem;
}

.form-control:hover {
   border-color: #1dbfaf;
}

.form-group.invalid .form-control {
   border-color: #f33a58;
}

.form-group.invalid .form-message {
   color: #f33a58;
}

.form-message {
   font-size: 1.2rem;
   line-height: 1.2rem;
   padding: 4px 0 0;
}

.modal__footer {
   display: none;
   width: 100%;
   height: 140px;
}

.form-submit {
   outline: none;
   background-color: var(--primary-color);
   margin: 15px auto 0;
   padding: 10px 12px;
   font-weight: 600;
   color: #fff;
   border: none;
   width: 90%;
   font-size: 2rem;
   border-radius: 4px;
   cursor: pointer;
   letter-spacing: 0.5px;
   transition: all 0.1s linear;
}

.form-submit:hover {
   opacity: 0.9;
}
.have-account,
.dont-have-account {
   font-size: 1.3rem;
   padding: 12px 0;
}

.click-to-sign-up,
.click-to-sign-in {
   color: var(--primary-color);
   cursor: pointer;
}

.sign-up--modal {
   width: 450px;
   height: var(--modal-sign-up-pc-height);
   overflow: hidden;
   border-radius: 10px;
   margin-bottom: 20px;
   padding: 0 15px;
   background-color: var(--white-color);
}

.sign-up--modal .modal__body {
   height: calc(
      var(--modal-sign-up-pc-height) - var(--modal-header-pc-height) -
         var(--modal-footer-pc-height)
   );
}

#date-of-birth {
   margin-right: 10px;
}

.accept a {
   color: var(--primary-color);
   text-decoration: none;
}

#accept-input {
   margin: 0 8px 0 0;
}

.accept {
   margin: 5px 0 0 0;
   font-size: 1.18rem;
   line-height: 1.5rem;
   flex-direction: row;
   align-items: flex-start;
}
