:root {
  --modal-header-pc-height: 110px;
  --modal-sign-in-pc-height: 410px;
  --modal-sign-up-pc-height: 530px;
}

.modal-layer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.sign-in--modal {
  width: 380px;
  height: 410px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: var(--white-color);
}

.modal__header {
  height: var(--modal-header-pc-height);
  padding: 25px 0 20px 0;
}

.sign-in--modal .modal__body {
  height: calc(var(--modal-sign-in-pc-height) - var(--modal-header-pc-height));
}

.modal__body {
  margin: 0 0 10px 0;
  padding: 0 15px;
  background-color: var(--white-color);
}

.modal__content {
  height: 100%;
  color: var(--black-color);
}

.modal--heading {
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 4rem;
}

.modal--subheading {
  margin-top: 5px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.modal__close--btn {
  cursor: pointer;
  top: 10px;
  right: 15px;
  color: #999;
}

.modal__close--btn:hover > i {
  color: #777777;
}

.modal__close--btn > i {
  font-size: 2.4rem;
  display: block;
  transition: all 0.1s linear;
}

.form-group {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
  flex-direction: column;
}

.form-label,
.form-message {
  text-align: left;
}

.form-label {
  color: var(--sub-text-color);
  font-weight: 500;
  padding-bottom: 5px;
  line-height: 1.6rem;
  font-size: 1.4rem;
}

.forget-password {
  bottom: -30px;
  right: 0;
  font-size: 1.3rem;
  color: #666;
}

.form-control {
  height: 35px;
  padding: 8px 12px;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  outline: none;
  font-size: 1.5rem;
}

.form-control:hover {
  border-color: #1dbfaf;
}

.form-group.invalid .form-control {
  border-color: #f33a58;
}

.form-group.invalid .form-message {
  color: #f33a58;
}

.form-message {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 4px 0 0;
}

.form-submit {
  outline: none;
  background-color: var(--primary-color);
  margin: 30px auto 0;
  padding: 10px 12px;
  font-weight: 600;
  color: #fff;
  border: none;
  width: 90%;
  font-size: 2rem;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 0.5px;
  transition: all 0.1s linear;
}

.form-submit:hover {
  opacity: 0.9;
}
.have-account,
.dont-have-account {
  font-size: 1.3rem;
  padding: 12px 0;
}

.click-to-sign-up,
.click-to-sign-in {
  color: var(--primary-color);
  cursor: pointer;
}

.sign-up--modal {
  width: 420px;
  height: var(--modal-sign-up-pc-height);
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: var(--white-color);
}

.sign-up--modal .modal__body {
  height: calc(var(--modal-sign-up-pc-height) - var(--modal-header-pc-height));
}

#date-of-birth {
  margin-right: 10px;
}

.accept a {
  color: var(--primary-color);
  text-decoration: none;
}

#accept-input {
  margin: 0 8px 0 0;
}

.accept {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.5rem;
  flex-direction: row;
  align-items: flex-start;
}
