.create-handicraft::-webkit-scrollbar {
   width: 5px;
}

.create-handicraft::-webkit-scrollbar-thumb {
   background-color: var(--primary-color);
   border-radius: 5px;
}

.create-handicraft::-webkit-scrollbar-track {
   background-color: #d1d1d1;
   border-radius: 5px;
}

#select-chapter {
   cursor: pointer;
}

.chapter-menu {
   padding: 10px;
   display: none;
   width: 90%;
   height: auto;
   position: absolute;
   flex-wrap: wrap;
   top: 200%;
   border-radius: 5px;
   background-color: var(--white-color);
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.chapter {
   height: 30px;
   width: 90px;
   flex: 0 0 90px;
   border-radius: 5px;
   border: solid 2px var(--sub-text-color);
   background-color: var(--white-color);
   color: var(--sub-text-color);
   font-size: 1.4rem;
   margin: 5px;
   cursor: pointer;
   transition: all 0.15s linear;
}

.chapter:hover {
   color: var(--white-color);
   border: none;
   background-color: var(--primary-color);
   transition: all 0.15s linear;
}

.selected-chapter {
   color: var(--white-color);
   border: none;
   background-color: var(--primary-color);
}

.display-flex {
   display: flex;
}

.list__selected-chapter::-webkit-scrollbar {
   height: 4px;
}

.list__selected-chapter::-webkit-scrollbar-thumb {
   background-color: var(--primary-color);
   border-radius: 5px;
}

.list__selected-chapter::-webkit-scrollbar-track {
   background-color: #d1d1d1;
   border-radius: 5px;
}
