button:hover {
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.view-class {
   cursor: pointer;
   width: 100px;
   height: 20px;
   background-color: #2b99ff;
   border: none;
   border-radius: 2px;
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
   color: #fff;
   font-size: 13px;
}

.pdf-download-box {
   height: 100%;
   width: 17rem;
}

#dashboard-container button.pdf-download {
   width: 100%;
   height: 35px;
   display: flex;
   gap: 0.4rem;
   align-items: center;
   padding: 0.2rem 0.2rem;
   border: none;
   border-radius: 5px;
   color: #b30b00;
   background: #fff;
   box-shadow: inset 0 0 0 1px #b30b00;
   position: relative;
   overflow-y: hidden;
}

#dashboard-container button.pdf-download:hover {
   background-color: #b30b00;
   color: #fff;
}

#dashboard-container button.pdf-download:hover .pdf-download__text {
   color: #fff !important;
}

#dashboard-container button.pdf-download i {
   font-size: 1.8rem;
}

#dashboard-container button.pdf-download:hover .fake-scroll-down {
   top: 0;
}

.fake-scroll-down {
   position: absolute;
   top: -3.5rem;
   left: 0;
   right: 0;
   bottom: 0;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   transition: all 0.3s cubic-bezier(0.18, 0.89, 0.45, 1.36);
}

.scroll-item {
   height: 3.5rem;
   font-weight: 500;
   display: flex;
   gap: 1rem;
   align-items: center;
   padding: 1rem;
}

.pdf-download__img {
   height: 2rem;
}

.pdf-download__text {
   display: inline-block;
   margin-top: 1px;
   font-size: 1.4rem;
   color: #b30b00;
}

/* student page */

.table__header {
   position: relative;
}

.table__content-teacher--row {
   display: grid;
   grid-template-columns: 25% 25% 20% 8% 12% 10%;
}

.table__content-teacher--row .exam-name {
   color: #151f90;
   font-weight: 600;
}

.table__content-teacher--row .test-done {
   color: var(--primary-color);
}

.filter-box {
   border: none;
   color: #888;
   right: 0;
   top: 0;
   position: absolute;
   z-index: 100;
   font-weight: 500;
}

.custom-select {
   width: 150px;
   font-size: 15px;
   text-align: center;
   cursor: pointer;
}

.custom-select__option-list {
   border: none;
   margin-top: 2px;
   justify-content: center;
   flex-direction: column;
   background-color: #fff;
   border-radius: 5px;
   box-shadow: inset 0px 0px 0px 1px #888;
}

.inf-btn {
   width: 100px;
   height: 20px;
   border: none;
   border-radius: 2px;
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
   color: #fff;
   font-size: 13px;
}

.take-test {
   background-color: var(--highlight-color);
}

.see-score {
   background-color: var(--primary-color);
}

/* test */
.content-table {
   height: calc(100% - var(--search-bar-pc-height));
   width: 100%;
   display: flex;
}

.create-handicraft .question-list {
   overflow-y: scroll;
   height: 100%;
   width: 100%;
   padding: 0 0 0 10px;
}

.create-handicraft .question-box {
   display: grid;
   grid-template-columns: 85% 15%;
   height: 290px;
   width: 100%;
   margin-top: 15px;
}

.create-handicraft .question-box__content {
   border-radius: 10px;
   border-left: solid 10px #1f2ec9;
   width: 100%;
   padding: 0 15px;
   background-color: var(--white-color);
}

.create-handicraft .question-box:first-child {
   margin: 0;
}

.question-item {
   margin-left: 3%;
   margin-bottom: 25px;
   width: 95%;
   font-size: 15px;
   font-weight: 600;
}

.question-item-content {
   background-color: #161f80;
   height: auto;
   color: #fff;
   padding: 7px 0 7px 20px;
   border-radius: 5px 5px 0 0;
}

.question-item-suggest {
   height: auto;
   background-color: #fff;
   padding: 5px 0 5px 20px;
   display: block;
}

.ABCD {
   width: 100%;
   height: auto;
   display: flex;
}

.ABCD-children {
   height: auto;
   line-height: 20px;
}

.radio {
   padding-top: 4px;
   width: 5%;
   height: 30px;
}

.content-suggest {
   width: 95%;
   padding: 4px 10px 6.5px 3px;
}

.answer-list {
   width: 30%;
   height: 480px;
   background: #fff;
   margin-left: 5%;
}

.answer-header {
   color: var(--text-color);
   font-size: 20px;
   font-weight: 600;
   height: 60px;
}

.answer-grid {
   padding: 0 1rem;
   height: auto;
   display: grid;
   grid-template-columns: repeat(5, 2fr);
}
.answer-item {
   display: flex;
   justify-content: space-around;
   align-items: center;
   font-size: 13px;
   font-weight: 500;
   margin: 0 0 0 5px;
   padding-top: 3px;
   height: 30px;
   font-family: sans-serif;
}

.answer-item span {
   margin-right: 2px;
}

.time-test {
   height: 60px;
   font-size: 13px;
   font-weight: 600;
}

.test-submit {
   height: 60px;
   border-top: 1px solid black;
}

.test-submit-btn {
   width: 150px;
   height: 30px;
   border: none;
   border-radius: 5px;
   color: var(--white-color);
   background-color: var(--primary-color);
}

.to-submit {
   background-color: var(--primary-color);
}

.submitted {
   background-color: #1f2ec9e5;
}

.modal {
   top: 0;
   left: 0;
   position: fixed;
   z-index: 1;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.3);
}

.hidden {
   display: none;
}

.main-form {
   width: 300px;
   height: 150px;
   background-color: #fff;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
   border-radius: 10px;
}

.header-form {
   height: 30px;
   display: flex;
   justify-content: flex-end;
}

#close {
   height: 25px;
   width: 25px;
   padding-right: 5px;
   font-size: 22px;
   font-weight: 600;
   color: #888;
}

.content-form {
   height: 70px;
   font-size: 14px;
   font-weight: 400;
   color: #222;
   text-align: center;
}

.footer-form {
   height: 50px;
   padding-top: 4px;
   display: flex;
   justify-content: space-evenly;
}

.form-btn {
   width: 120px;
   height: 30px;
   font-size: 14px;
   font-weight: 400px;
   color: #fff;
   border: none;
   border-radius: 5px;
}

.confirm-btn {
   background-color: var(--primary-color);
}

.cancel-btn {
   background-color: #888;
}

.table__content {
   overflow: hidden;
}

.table__content--item {
   transition: all 0.2s linear;
   text-align: left;
   margin: 2px 0;
}

.export-btn {
   background-color: var(--highlight-color);
}

.create-exam__option {
   cursor: pointer;
   width: 250px;
   height: 280px;
   background-color: var(--white-color);
   border-radius: 10px;
   margin: 30px 15px;
   padding: 20px 0;
   justify-content: space-evenly;
   box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.create-exam__option > i {
   font-size: 8rem;
}

.create-exam__option--title {
   font-size: 1.8rem;
   font-weight: 500;
}

.option-handicraft {
   color: var(--highlight-color);
}

.option-bank {
   color: #03ac84;
}

.create-exam {
   margin-top: 30px;
}

.info-box__handicraft {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: flex-start;
   height: fit-content;
   width: 100%;
   padding: 15px;
   border-radius: 10px;
   background-color: #fff;
   margin-right: 10px;
}

.info-box__handicraft > .info-item {
   width: 100%;
   margin-bottom: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   height: 60px;
}

.info-box__handicraft button {
   width: 95px;
   height: 35px;
   font-size: 1.5rem;
   margin-top: 5px;
   border-radius: 20px;
   background-color: var(--white-color);
   color: var(--primary-color);
   text-transform: uppercase;
   font-weight: 600;
   letter-spacing: 0.5px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
   border: solid 2px var(--primary-color);
   transition: all 0.2s linear;
}

.info-box__handicraft button:hover {
   cursor: pointer;
   color: var(--white-color);
   background-color: var(--primary-color);
}

.create-handicraft .question-list::-webkit-scrollbar {
   width: 5px;
   opacity: 0.5;
}

.create-handicraft .question-list::-webkit-scrollbar-thumb {
   background-color: rgba(31, 46, 201, 0.9);
   border-radius: 5px;
}

.create-handicraft .question-list::-webkit-scrollbar-track {
   background-color: rgba(255, 255, 255, 0.5);

   border-radius: 5px;
}

.create-handicraft .tool-btn:hover {
   cursor: pointer;
   background-color: var(--primary-color) !important;
   color: var(--white-color) !important;
   transition: all 0.2 linear;
}

.create-handicraft .answer-item {
   flex-direction: column;
   align-items: flex-start;
   width: 100%;
   height: 100%;
   margin: 0 0 0 15px;
}

.create-handicraft .answer-item > input {
   height: 35px;
   width: 100%;
   border: none;
   border-bottom: 1px solid #bfbfbf;
   background: #fff;
   padding: 0 10px;
   font-size: 1.6rem;
   outline: none;
   color: #333;
}

.create-handicraft .question-side-menu {
   margin: 0 10px;
   border-radius: 5px;
   background-color: #f0f0f0;
   height: 100px;
   padding: 5px 5px;
}
.create-handicraft .tool-btn {
   width: 100%;
   height: 30px;
   margin: 2px;
   background-color: #ffffff;
   box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
   border-radius: 2px;
   font-size: 1.3rem;
}

.create-select-from-bank__layout {
   width: 100%;
   height: 100%;
   margin-top: 1px;
   background-color: transparent;
   box-sizing: border-box;
}

#selectFromBank {
   display: grid;
   grid-template-columns: 30% 70%;
}

.info-box__select-from-bank {
   width: 100%;
   height: fit-content;
   padding: 15px;
   border-radius: 10px;
   background-color: var(--white-color);
}

#selectFromBank button {
   width: 125px;
   height: 35px;
   margin-left: auto;
   margin-right: auto;
   background-color: var(--white-color);
   color: var(--primary-color);
   border: solid 2px var(--primary-color);
   border-radius: 20px;
   left: calc((450px - 25px - 125px) / 2);
   text-transform: uppercase;
   font-weight: 600;
   font-size: 1.5rem;
   letter-spacing: 1px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
   transition: all 0.2s linear;
}

#selectFromBank button:hover {
   cursor: pointer;
   color: var(--white-color) !important;
   background-color: var(--primary-color) !important;
}

#select-chapter {
   cursor: pointer;
}

.chapter-menu {
   padding: 10px;
   display: none;
   width: 90%;
   height: auto;
   position: absolute;
   z-index: 100;
   flex-wrap: wrap;
   top: 100%;
   left: 10px;
   border-radius: 5px;
   background-color: var(--white-color);
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.chapter {
   height: 30px;
   width: 90px;
   flex: 0 0 90px;
   border-radius: 5px;
   border: solid 2px var(--sub-text-color);
   background-color: var(--white-color);
   color: var(--sub-text-color);
   font-size: 1.4rem;
   margin: 5px;
   cursor: pointer;
   transition: all 0.15s linear;
}

.chapter:hover {
   color: var(--white-color);
   border: none;
   background-color: var(--primary-color);
   transition: all 0.15s linear;
}

.list__selected-chapter > .chapter:hover {
   color: var(--white-color) !important;
   border: none;
   transition: all 0.15s linear;
}

.selected-chapter {
   color: var(--white-color);
   border: none;
   background-color: var(--primary-color);
}

.display-flex {
   display: flex;
}

.list__selected-chapter::-webkit-scrollbar {
   height: 4px;
}

.list__selected-chapter::-webkit-scrollbar-thumb {
   background-color: var(--primary-color);
   border-radius: 5px;
}

.list__selected-chapter::-webkit-scrollbar-track {
   background-color: #d1d1d1;
   border-radius: 5px;
}

.mobile-table-content {
   display: none;
}

#selectFromBank {
   display: grid;
   grid-template-columns: 40% 60%;
   column-gap: 10px;
   width: 100%;
   height: 100%;
   position: relative;
}

#selectFromBank .question-list_container {
   width: 100%;
   min-height: 50vh;
   max-height: 85vh;
   background-color: var(--white-color);
   border-radius: 10px;
   position: relative;
   overflow: hidden;
}

.create-exam-btn-tablet {
   display: none;
}

#bank {
   display: grid;
   grid-template-columns: 30% 70%;
   column-gap: 10px;
   width: 100%;
   height: 100%;
   position: relative;
}

#bank .question-list_container {
   width: 100%;
   min-height: 50vh;
   max-height: 85vh;
   background-color: var(--white-color);
   border-radius: 10px;
   position: relative;
   overflow: hidden;
}

#bank button {
   width: 125px;
   height: 35px;
   margin-left: auto;
   margin-right: auto;
   background-color: var(--white-color);
   color: var(--primary-color);
   border: solid 2px var(--primary-color);
   border-radius: 20px;
   left: calc((450px - 25px - 125px) / 2);
   text-transform: uppercase;
   font-weight: 600;
   font-size: 1.5rem;
   letter-spacing: 1px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
   transition: all 0.2s linear;
}
.bank-menu {
   height: 35px;
   margin-bottom: 5px;
   display: flex;
   align-items: center;
   justify-content: flex-end;
}

.bank-menu button {
   height: 100%;
   border-radius: 15px;
   margin: 0 2px;
   background-color: #fff;
   cursor: pointer;
   transition: all 0.2s linear;
}

.bank-menu .remove-question {
   width: 150px;
   border: solid 2px #cc2424;
   color: #cc2424;
}

.bank-menu .add-new-question {
   width: 120px;
   border: solid 2px var(--primary-color);
   color: var(--primary-color);
}

.bank-menu .remove-question:hover {
   border: solid 2px #cc2424;
   background-color: #cc2424;

   color: #fff;
}

.bank-menu .add-new-question:hover {
   border: solid 2px var(--primary-color);
   background-color: var(--primary-color);
   color: #fff;
}

@media (max-width: 1220px) {
   .info-box__select-from-bank .form-group > .form-label {
      width: 130px !important;
      font-size: 1.3rem !important;
   }
   .info-box__select-from-bank input {
      max-width: 150px !important;
   }
}

@media (max-width: 1028px) {
   #handicraft,
   #addNewQuestion,
   #bank {
      grid-template-columns: none !important;
   }

   .info-box__handicraft {
      padding: 25px 20px;
      margin: 0 0 10px 0;
   }

   .info-box__handicraft > .info-item {
      height: 50px;
   }

   .create-handicraft .answer-item label {
      font-size: 1.2rem !important;
      height: 15px !important;
   }

   .info-box__handicraft > .info-item > input {
      font-size: 1.3rem !important;
      height: 25px;
   }

   .info-box__handicraft button {
      height: 30px;
      font-size: 1.4rem;
      margin-top: 0;
   }

   .create-handicraft .question-list {
      overflow-y: unset;
      padding: 0;
      margin-bottom: 20px;
   }

   .create-handicraft .question-box {
      height: fit-content;
      grid-template-columns: none;
   }

   .create-handicraft .question-box__content {
      height: 200px;
      padding: 10px;
      border-left: solid 10px #1f2ec9;
   }

   .create-handicraft .question-box__content .form-group {
      height: 35px !important;
      margin: 0 !important;
   }

   .create-handicraft .question-box__content input {
      height: 30px !important;
      font-size: 1.3rem !important;
   }

   .create-handicraft .answer-item {
      margin: 0 0 0 5px;
   }

   .create-handicraft .question-list .form-message {
      display: none !important;
   }

   .create-handicraft .question-list input[type="radio"] {
      margin: 0 !important;
   }

   .create-handicraft .question-box ul {
      flex-direction: row;
      height: 35px !important;
      margin: 0 !important;
      background-color: transparent !important;
   }

   .create-handicraft .question-box li,
   .create-handicraft .question-box select {
      font-size: 1.3rem !important  ;
      border-radius: 10px !important;
      width: 90px !important;
   }

   .form-message {
      font-size: 1.1rem;
      line-height: 1.1rem;
      padding: 3px 0 0;
   }

   #selectFromBank,
   #bank {
      grid-template-columns: none;
      grid-template-rows: auto auto;
      row-gap: 10px;
      font-size: 1.2rem !important;
   }

   .create-exam-btn-pc {
      display: none;
   }

   .create-exam-btn-tablet {
      display: block;
   }
}

@media (min-width: 740px) and (max-width: 1028px) {
   .table__content-teacher--row {
      display: grid;
      grid-template-columns: 25% 25% 18% 8% 14% 10%;
   }

   .create-exam__option {
      width: 200px;
      height: 220px;
      margin: 30px 10px;
   }

   .create-exam__option > i {
      font-size: 6rem;
   }

   .create-exam__option--title {
      font-size: 1.5rem;
   }

   .info-box__select-from-bank {
      padding: 15px 45px;
   }
}

@media (max-width: 739px) {
   .create-exam__option {
      width: 200px;
      height: 200px;
      margin: 30px 5px;
   }

   .create-exam__option > i {
      font-size: 5rem;
   }

   .create-exam__option--title {
      font-size: 1.2rem;
   }

   .info-box__select-from-bank .form-group {
      margin: 2px 0 !important;
   }

   .info-box__select-from-bank input {
      max-width: 150px !important;
      height: 25px !important;
   }

   .info-box__select-from-bank .form-group > .form-label {
      font-size: 1.2rem !important;
      padding: 0;
   }
}
