
#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--header-pc-height);
    background-color: var(--white-color);
    box-shadow: 0px 30px 50px 5px rgba(0, 0, 0, 0.25);
    z-index: 99;
}

.header__wrap {
    max-width: 1200px;
}

.header__logo {
    height: 100%;
    position: absolute;
    left: 0;
}

.header__logo > img {
    max-height: 100%;
}

.header__btn {
    height: 100%;
    width: 280px;
    position: absolute;
    right: 0;
    justify-content: space-between;
}

.header__btn > button {
    width: 120px;
    height: 35px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.7rem;
    border-radius: 5px;
    border: none;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 1));
    -webkit-font-smoothing: subpixel-antialiased;
    animation: buttonNotHover .4s ease;
}

.header__btn > button:hover {   
    cursor: pointer;
    animation: buttonHover .4s ease;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
}