.statistic-menu {
   height: 30px;
   margin-bottom: 3px;
}

.statistic-menu > button {
   height: 100%;
   width: 80px;
   border: none;
   margin: 0 2px;
   background-color: #fff;
   border-radius: 5px 5px 0 0;
   opacity: 0.7;
}

.statistic-menu > button.active {
   opacity: 1;
}

.detail-statistic {
   display: grid;
   gap: 5px;
}

.detail-basic,
.detail-grade {
   background-color: #fff;
   color: var(--background-color);

   border-radius: 10px;
}

.detail-grade > h1 {
   font-size: 1.45rem;
   font-weight: 600;
   margin: 20px 0 0 25px;
}

.detail-item > span {
   font-size: 1.4rem;
   margin: 0 10px;
   font-weight: 600;
}

.detail-item {
   margin: 5px 0;
   font-size: 1.4rem;
}

.detail-basic {
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;

   height: 80px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 20px 25px;
}

.detail-grade {
   border-top-left-radius: 0;
   border-top-right-radius: 0;
}

.grade {
   font-size: 1.4rem;
   flex-direction: column;
}

.grade-table {
   display: grid;
   grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
   height: 100px;
}

.grade > .heading {
   margin-bottom: 20px;
}

@media (max-width: 500px) {
   .detail-grade > h1 {
      font-size: 1.3rem;
   }

   .detail-item > span {
      font-size: 1.2rem;
      margin: 0;
   }
   .detail-item {
      font-size: 1.2rem;
   }

   .grade {
      font-size: 1.2rem;
   }

   .grade > h3 {
      font-size: 1.1rem;
   }

   .detail-basic {
      padding: 20px 15px;
   }

   .detail-grade > h1 {
      margin: 20px 0 0 15px;
   }
}
